<!DOCTYPE html>
<html>
<head>
  <title>Fakeblog</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<div class="container">
  <%= yield %>  
</div>

</body>
</html>
